

<h2>edit file</h2>
 <table class="table">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product.id %></td>
        <td><%= @product.name %></td>
        <td><%= @product.price %></td>
      </tr>
    
    </tbody>
  </table>







      
