<h1>Product#index</h1>
<p>Find me in app/views/product/index.html.erb</p>


 <% @products.each do |product| %>
    <tr>
   
<div id="example2">
   
</div>
<p>Item :<%= product.name %></p>
<p>Price: <%= product.price %></p>
<br/>

     
    </tr>
  <% end %>