// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#example2 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width :100px
}
